.pay-button {
  background-color: hsl(144, 62%, 44%);
  border: none;
  color: white;
  padding: 8px 25px;
  margin: 7px 0;
  border-radius: 3px;
  font-size: 15px;
  flex-shrink: 0;
  font-family: system-ui, sans-serif;
}
