.logovinted {
  width: 104px;
  height: 40px;
  margin-left: 10px;
}

.logovinted:hover {
  cursor: pointer;
}

header {
  border-bottom: 1px rgb(196, 192, 192) solid;
  font-family: "Open Sans", sans-serif;
}

.top {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order {
  display: flex;
  gap: 40px;
  margin-left: 25px;
}

.order p {
  font-size: 13px;
}
.set p {
  font-family: "Allerta", sans-serif;
  font-size: 11px;
}

.white {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  flex-shrink: 0;
}

.white button {
  background-color: white;
  border: 1px solid #2baeb7;
  color: #2baeb7;
  padding: 8px 25px;
  border-radius: 3px;
  font-size: 12px;
  flex-shrink: 0;
}

.blue {
  background-color: #2baeb7;
  color: white;
  border: 1px solid #2baeb7;
  padding: 8px 25px;
  border-radius: 3px;
  font-size: 12px;
  flex-shrink: 0;
  margin-right: 15px;
}

.search {
  background-color: #f7f5f7;
  border: none;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  padding-left: 35px;
}

.bar input::placeholder {
  font-size: 15px;
  color: #c3c0c0;
}

.bar {
  margin: 10px;
  max-width: 600px;
  position: relative;
  display: flex;
}

.bar span {
  padding: 0 7px;
  position: absolute;
  top: 12px;
  left: 4px;
}

.set {
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
}

.disconnect {
  background-color: white;
  border: 1px solid #2baeb7;
  color: #2baeb7;
  padding: 8px 25px;
  border-radius: 3px;
  font-size: 12px;
  flex-shrink: 0;
}

.header-price {
  width: 620px;
}
